*
{
        margin: 0;
        padding: 0;
}

body 
{
        background-image: url(../images/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}