*
{
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
}

body 
{
        min-height: 100%;
        background-image: url(../images/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.wrapper
{
        width: 600px;
        height: 600px;
        margin: 100px auto;
        border: 8px solid grey;
        border-radius: 20px;
        background: white;
        padding: 5px;
}

.header
{
        width: 100%;
        text-align: center;
        height: 50px;
        padding-top: 5px;
}

h1
{
        border-bottom: dashed 2px black;
}

.list
{
        height: 85%;
        width: 100%;

        border-radius: 0 0 10px 10px;
}

input[type="checkbox"]
{
        position: relative;
        top: 5px;
        float: right;
}

input[type = "checkbox"]:checked + label
{
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.3);
}

.list
{
        list-style: none;
}

.list li
{
        width: 100%;
        float: left;
        height: 8%;
}

.list li:hover
{
        background-color: darkgreen;        
}

label
{
        padding: 5px;
}